<a href="https://colab.research.google.com/github/tenoob/ineuron/blob/main/Assignment_20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a
file named test.txt.

In [2]:
test1 = "This is a test of the emergency text system"
with open('test.txt', 'w') as f:
    f.write(test1)

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?

In [4]:
text2 = open("test.txt",'r')
text2.readline()

'This is a test of the emergency text system'

3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [5]:
import pandas as pd

data = {'title':['The Weirdstone of Brisingamen','Perdido Street Station','Thud!','The Spellman Files','Small Gods'],
        'author':['Alan Garner', 'China Miéville' , 'Terry Pratchett' ,'Lisa Lutz' , 'Terry Pratchett' ],
        'year' : [1960,2000,2005,2007,1992]}

df = pd.DataFrame(data,columns=['title','author','year'])
df.to_csv('books.csv',index=None , header=True)

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).

In [25]:
import sqlite3
conn = sqlite3.connect('books.db')
cur = conn.cursor()

statement = "CREATE TABLE IF NOT EXISTS books ( title text , author text , year integer);"
cur.execute(statement)
conn.commit()
conn.close()

5. Read books.csv and insert its data into the book table.

In [26]:
df = pd.read_csv("books.csv")
df.head()

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1         Perdido Street Station   China Miéville  2000
2                          Thud!  Terry Pratchett  2005
3             The Spellman Files        Lisa Lutz  2007
4                     Small Gods  Terry Pratchett  1992

In [29]:
import sqlite3
conn = sqlite3.connect('books.db')
cur = conn.cursor()

for index, row in df.iterrows():
    cur.execute("INSERT INTO books (title,author,year) values(?,?,?)",(row.title,row.author,row.year))

print("data Inserted")
conn.commit()
conn.close()

data Inserted

6. Select and print the title column from the book table in alphabetical order.\

In [35]:
import sqlite3
conn = sqlite3.connect('books.db')
cur = conn.cursor()

statement = "select title from books order by title;"
cur.execute(statement)

print(cur.fetchall())
conn.commit()
conn.close()

[('Perdido Street Station',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',)]

7. From the book table, select and print all columns in the order of publication.

In [36]:
import sqlite3
conn = sqlite3.connect('books.db')
cur = conn.cursor()

statement = "select * from books order by year;"
cur.execute(statement)

print(cur.fetchall())
conn.commit()
conn.close()

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960), ('Small Gods', 'Terry Pratchett', 1992), ('Perdido Street Station', 'China Miéville', 2000), ('Thud!', 'Terry Pratchett', 2005), ('The Spellman Files', 'Lisa Lutz', 2007)]

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.

```

In [38]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///books.db', echo = True)

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a
Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for
test.

In [39]:
pip install redis

Collecting redis
  Downloading redis-4.1.4-py3-none-any.whl (175 kB)
     |████████████████████████████████| 175 kB 3.2 MB/s
Requirement already satisfied: packaging>=20.4 in /usr/local/lib/python3.7/dist-packages (from redis) (21.3)
Requirement already satisfied: importlib-metadata>=1.0 in /usr/local/lib/python3.7/dist-packages (from redis) (4.11.2)
Collecting deprecated>=1.2.3
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: wrapt<2,>=1.10 in /usr/local/lib/python3.7/dist-packages (from deprecated>=1.2.3->redis) (1.13.3)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=1.0->redis) (3.10.0.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=1.0->redis) (3.7.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.4->redis) (3.0.7)
Installing collected packages: deprecated, redis
Successfully installed deprecated-1.2.13 redis-4.1.4

In [43]:
import redis
conn =redis.Redis( host='localhost', port=6379)

conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

10. Increment the count field of test and print it.

In [45]:
conn.hincrby('test','count', 3)