<a href="https://colab.research.google.com/github/tenoob/ineuron/blob/main/Assignment_16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Create a list called years_list, starting with the year of your birth, and each year thereafter until
the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list =
[1980, 1981, 1982, 1983, 1984, 1985].

In [3]:
try:
    year = int(input())
    year_lst = [i for i in range(year,year+6)]
    print(year_lst)
except Exception as e:
    print("Error : ",e)

2001
[2001, 2002, 2003, 2004, 2005, 2006]

2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your
first year.

In [2]:
try:
    third_bd = year_lst[3]
    print("3rd birthday year :",third_bd)
except Exception as e:
    print("Error : ",e)

3rd birthday year : 2004

3.In the years list, which year were you the oldest?

In [4]:
try:
    last_bd = year_lst[-1]
    print("most oldest year :",last_bd)
except Exception as e:
    print("Error : ",e)

most oldest year : 2006

4. Make a list called things with these three strings as elements: &quot;mozzarella&quot;, &quot;cinderella&quot;,
&quot;salmonella&quot;.

In [6]:
things = ["mozzarella", "cinderella", "salmonella"]
things

['mozzarella', 'cinderella', 'salmonella']

5. Capitalize the element in things that refers to a person and then print the list. Did it change the
element in the list?

In [7]:
things[1] = things[1].upper()
things

['mozzarella', 'CINDERELLA', 'salmonella']

6. Make a surprise list with the elements &quot;Groucho,&quot; &quot;Chico,&quot; and &quot;Harpo.&quot;

In [11]:
surprise = [ "Groucho", "Chico", "Harpo" ]
surprise

['Groucho', 'Chico', 'Harpo']

7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [12]:
surprise[-1] = surprise[-1].lower()
surprise[-1] = surprise[-1][::-1].upper()
surprise

['Groucho', 'Chico', 'OPRAH']

8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is
chien, cat is chat, and walrus is morse.

In [14]:
e2f = {'dog':'chien' , 'cat':'chat','walrus':'morse'}
print(e2f)

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

9. Write the French word for walrus in your three-word dictionary e2f.

In [15]:
print(e2f['walrus'])

morse

10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [16]:
f2e = dict([(value,key) for key, value in e2f.items()])
print(f2e)

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

11. Print the English version of the French word chien using f2e.

In [17]:
print(f2e['chien'])

dog

12. Make and print a set of English words from the keys in e2f.

In [19]:
english_word = set(e2f.keys())
print(english_word)

{'cat', 'dog', 'walrus'}

13. Make a multilevel dictionary called life. Use these strings for the topmost keys: &#39;animals&#39;, &#39;plants&#39;,
and &#39;other&#39;. Make the &#39;animals&#39; key refer to another dictionary with the keys &#39;cats&#39;, &#39;octopi&#39;, and
&#39;emus&#39;. Make the &#39;cats&#39; key refer to a list of strings with the values &#39;Henri&#39;, &#39;Grumpy&#39;, and &#39;Lucy&#39;.Make all the other keys refer to empty dictionaries.

In [21]:
life = {'animals': {'cats': ['Henri', 'Grumpy','Lucy'],
                    'octopi':{},
                    'emus':{} },
        'plants' : {},
        'others':{}
        }

14. Print the top-level keys of life.

In [22]:
print(life.keys())

dict_keys(['animals', 'plants', 'others'])

15. Print the keys for life[&#39;animals&#39;].

In [23]:
print(life['animals'].keys())

dict_keys(['cats', 'octopi', 'emus'])

16. Print the values for life[&#39;animals&#39;][&#39;cats&#39;]

In [24]:
print(life['animals']['cats'])

['Henri', 'Grumpy', 'Lucy']