<a href="https://colab.research.google.com/github/tenoob/ineuron/blob/main/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.What are the two values of the Boolean data type? How do you write them?

In [1]:
print("True and Flase are the two values of the boolean data type")
a = True
b = False

True and Flase are the two values of the boolean data type

2.What are the three different types of Boolean operators?

In [2]:
print("The 3 different boolean operators are AND , OR and NOT")

The 3 different boolean operators are AND , OR and NOT

3.Make a list of each Boolean operator&#39;s truth tables (i.e. every possible combination of Boolean
values for the operator and what it evaluate ).

![image.png]()

4.What are the values of the following expressions?
(5 &gt; 4) and (3 == 5)
not (5 &gt; 4)
(5 &gt; 4) or (3 == 5)
not ((5 &gt; 4) or (3 == 5))
(True and True) and (True == False)
(not False) or (not True)

In [9]:
print(5>4 and 3==5)
print(not(5>4))
print(5>4 or 3==5)
print(not(5>4 or 3==5))
print((True and True) and(True==False))
print((not False) or (not True))

False
False
True
False
False
True

5.What are the six comparison operators?

In [10]:
print("==")
print("!=")
print("<=")
print(">=")
print("<")
print(">")

==
!=
<=
>=
<
>

6.How do you tell the difference between the equal to and assignment operators?Describe a
condition and when you would use one.

In [11]:
print("in assignment operator we use single '=' while in equal to we use double '==' ")
print("when we want to assign a value to a variable we use single equal sign like")
a=5
print("we use equal to mostly for if condition when we want to check if a variable has the desire value which we want")
if a==10:
    print("a is equal to 10")

in assignment operator we use single '=' while in equal to we use double '=='
when we want to assign a value to a variable we use single equal sign like
we use equal to mostly for if condition when we want to check if a variable has the desire value which we want

7. Identify the three blocks in this code:
spam = 0
if spam == 10:
print(&#39;eggs&#39;)
if spam &gt; 5:
print(&#39;bacon&#39;)
else:
print(&#39;ham&#39;)
print(&#39;spam&#39;)
print(&#39;spam&#39;)

In [12]:
spam = 0 
if spam == 10: 
    print('eggs') 
    if spam > 5: 
        print('bacon') 
    else: 
        print('ham') 
    print('spam') 
print('spam')

spam

8.Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints
Greetings! if anything else is stored in spam.

In [13]:
spam = 5
if spam == 1:
    print('Hello')
elif spam == 2:
    print('Howdy')
else:
    print('Greetings!')

Greetings!

9.If your programme is stuck in an endless loop, what keys you’ll press?

In [14]:
print("crtl + c to get out of endless loop")

crtl + c to get out of endless loop

10.How can you tell the difference between break and continue?

In [15]:
print("break is used to break out of loop execution")
print("continue is used to move from that step to start of the loop execution")

break is used to break out of loop execution
continue is used to move from that step to start of the loop execution

11.In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?

In [ ]:
print("in range(10) it will start from 0 and will go upto 10 as we have given the end index ")
print("in range(0,10) we are setting the range to start at 0 and go upto 10 ")
print("in range(0,10,1) we are giving the starting, ending and the increament which means start from 0 upto 10 with an increment of 1")

12.Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent
program that prints the numbers 1 to 10 using a while loop.

In [16]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [17]:
i = 1
while i <= 10:
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9
10

13.If you had a function named bacon() inside a module named spam, how would you call it after
importing spam?

---

In [18]:
print("spam.bacon()")

spam.bacon()