<a href="https://colab.research.google.com/github/tenoob/ineuron/blob/main/Python%20Advance%20Programming%20Assignment/Programming_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Create a function to perform basic arithmetic operations that includes
addition, subtraction, multiplication and division on a string number (e.g. &quot;12 +
24&quot; or &quot;23 - 21&quot; or &quot;12 // 12&quot; or &quot;12 * 21&quot;).
Here, we have 1 followed by a space, oper followed by another space
and 2. For the challenge, we are going to have only two numbers between 1
valid oper. The return value should be a number.
eval() is not allowed. In case of division, whenever the second number equals
&quot;0&quot; return -1.
For example:
&quot;15 // 0&quot; ➞ -1
Examples
arithmetic_operation(&quot;12 + 12&quot;) ➞ 24 // 12 + 12 = 24
arithmetic_operation(&quot;12 - 12&quot;) ➞ 24 // 12 - 12 = 0
arithmetic_operation(&quot;12 * 12&quot;) ➞ 144 // 12 * 12 = 144
arithmetic_operation(&quot;12 // 0&quot;) ➞ -1 // 12 / 0 = -1

In [7]:
def arithmetic_operation(string):
    lst = string.split(' ')
    oper = lst[1]
    if oper == '+':
        ans = int(lst[0]) + int(lst[2])
    elif oper == '-':
        ans = int(lst[0]) - int(lst[2])
    elif oper == '*':
        ans = int(lst[0]) * int(lst[2])
    elif  oper=='//' :
        if int(lst[2])==0:
            ans= -1
        else:
            ans = int(lst[0]) // int(lst[2])

    return ans

print(arithmetic_operation("12 + 12"))
print(arithmetic_operation("12 - 12"))
print(arithmetic_operation("12 * 12"))
print(arithmetic_operation("12 // 0"))

24
0
144
-1

2. Write a function that takes the coordinates of three points in the form of a
2d array and returns the perimeter of the triangle. The given points are the
vertices of a triangle on a two-dimensional plane.
Examples
perimeter( [ [15, 7], [5, 22], [11, 1] ] ) ➞ 47.08
perimeter( [ [0, 0], [0, 1], [1, 0] ] ) ➞ 3.42
perimeter( [ [-10, -10], [10, 10 ], [-10, 10] ] ) ➞ 68.28

In [14]:
import math

def perimeter(coords):
    a = coords[0]
    b = coords[1]
    c = coords[2]

    ab = math.sqrt( (b[0] - a[0])**2 + (b[1] - a[1])**2 )
    bc = math.sqrt( (c[0] - b[0])**2 + (c[1] - b[1])**2 )
    ca = math.sqrt( (a[0] - c[0])**2 + (a[1] - c[1])**2 )

    return round(ab+bc+ca,2)

print(perimeter( [ [15, 7], [5, 22], [11, 1] ] ))
print(perimeter( [ [0, 0], [0, 1], [1, 0] ] ))
print(perimeter( [[-10, -10], [10, 10 ], [-10, 10] ] ))

47.08
3.41
68.28

3. A city skyline can be represented as a 2-D list with 1s representing
buildings. In the example below, the height of the tallest building is 4 (second-
most right column).
[[0, 0, 0, 0, 0, 0],
[0, 0, 0, 0, 1, 0],
[0, 0, 1, 0, 1, 0],
[0, 1, 1, 1, 1, 0],

[1, 1, 1, 1, 1, 1]]
Create a function that takes a skyline (2-D list of 0&#39;s and 1&#39;s) and returns the
height of the tallest skyscraper.

In [25]:
import pandas as pd

def  tallest_skyscraper(matrix):
    df = pd.DataFrame(matrix)
    height = 0
    for col in df.columns:
        x = df[col].value_counts()
        if x[1]>height:
            height=x[1]

    return height
              

print(tallest_skyscraper([
[0, 0, 0, 0],
[0, 1, 0, 0],
[0, 1, 1, 0],
[1, 1, 1, 1]]))

print(tallest_skyscraper([
[0, 1, 0, 0],
[0, 1, 0, 0],
[0, 1, 1, 0],
[1, 1, 1, 1]
]))
print(tallest_skyscraper([
[0, 0, 0, 0],
[0, 0, 0, 0],
[1, 1, 1, 0],
[1, 1, 1, 1]
]))

3
4
2

4. A financial institution provides professional services to banks and claims
charges from the customers based on the number of man-days provided.
Internally, it has set a scheme to motivate and reward staff to meet and
exceed targeted billable utilization and revenues by paying a bonus for each
day claimed from customers in excess of a threshold target.
This quarterly scheme is calculated with a threshold target of 32 days per
quarter, and the incentive payment for each billable day in excess of such
threshold target is shown as follows:
Days Bonus
0 to 32 days Zero
33 to 40 days SGD$325 per billable day
41 to 48 days SGD$550 per billable day
Greater than 48 days SGD$600 per billable day

Please note that incentive payment is calculated progressively. As an
example, if an employee reached total billable days of 45 in a quarter, his/her
incentive payment is computed as follows:
32*0 + 8*325 + 5*550 = 5350
Write a function to read the billable days of an employee and return the bonus
he/she has obtained in that quarter.
Examples
bonus(15) ➞ 0
bonus(37) ➞ 1625
bonus(50) ➞ 8200

In [27]:
def bonus(days):
    bonus = 0
    if days<=32:
        return 0
    elif days > 32 and days<=40:
        bonus = (days - 32 ) * 325
    elif days > 41 and days<=48:
        bonus = (8 * 325) + ((days - 40)*550)
    else:
        bonus = (8 * 325) + (8*550) +((days - 48)*600)

    return bonus

print(bonus(15))
print(bonus(37))
print(bonus(50))

0
1625
8200

5. A number is said to be Disarium if the sum of its digits raised to their
respective positions is the number itself.
Create a function that determines whether a number is a Disarium or not.
Examples
is_disarium(75) ➞ False
# 7^1 + 5^2 = 7 + 25 = 32
is_disarium(135) ➞ True
# 1^1 + 3^2 + 5^3 = 1 + 9 + 125 = 135
is_disarium(544) ➞ False
is_disarium(518) ➞ True
is_disarium(466) ➞ False
is_disarium(8) ➞ True

In [36]:
def is_disarium(number):
    num = str(number)
    x = 0
    for i in range(len(num)):
        x += (int(num[i])**(i+1))

    if x==number:
        return True
    else:
        return False


print(is_disarium(75))
print(is_disarium(135))
print(is_disarium(544))
print(is_disarium(518))
print(is_disarium(466))
print(is_disarium(8))

False
True
False
True
False
True